.custom-search {
  margin: 25px 10px;
}

.search-button {
  width: 119px;
  display: table-cell;
}

.form-outline {
  display: flex;
}

.custom-flex { 
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
}

.gap { 
  width: 60px;
}
