.custom-search {
  margin: 25px 10px;
}

.search-button {
  width: 119px;
  display: table-cell;
}

.form-outline {
  display: flex;
}

.custom-flex { 
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
}

.gap { 
  width: auto;
}

.datepicker-group {
  width: 100%;
  display: inline;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: inline;
  width: 50%;
}
