.navbar-items {
  background: linear-gradient(90deg, #737373 0%, #a6a6a6 100%);
  display: flex; 
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.navbar-logo {
  color: #fff;
  justify-self: start; 
  margin-left: 20px; 
  cursor: pointer;
}

.fa-react {
  margin-left: 0.5rem; 
  font-size: 1.6rem; 
}

.nav-menu {
  display: grid; 
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px; 
  list-style: none; 
  text-align: center;
  width: 70vw; 
  justify-content: end;
  margin: auto 2rem auto;
}

.nav-links {
  color: white; 
  text-decoration: none; 
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: #737373;
  border-radius: 4px;
  transition: all 0.3s ease-out;
  color: #0d0d0d;
  text-decoration: none;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}
